{% extends 'Layout/column.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>My Account</h1>
        <p>Your informations</p>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" value={{user.email}}>
            </div>
            <button type="submit" class="btn btn-success">Update my profile</button>
        </form>
    </div>
</div>
{%  endblock %}
